body {
    font-family: 'Courier New', Courier, monospace;
}

.center {
    text-align: center;
}

.big {
    margin-left: 50%;
    font-size: 50px;
}

.column {
    float: left;
    width: 50%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

.box {
    text-align: center;
    width: auto;
    padding: 10px;
    background: whitesmoke;
    border: 5px solid purple;
    margin: 0;
}